@import "~bulma/sass/utilities/initial-variables";
//------------------------------------------------------------------------------
$navbar-item-img-max-height: 150;
$navbar-height: 150;
$navbar-background-color: black;
$navbar-dropdown-background-color: #ff6600;
$button-color	: black;
$button-background-color: #ffe066;

@import "~bulma";
//------------------------------------------------------------------------------
.card-image {
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  height: 250px;
  width:250px;
}
.card-content{
  width:auto;
  color:white;
}
.column.is-one-fifth-desktop {
    flex: none;
    width: 24%;
}
a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    background-color: #ff6600;
    color: black;
}
.card-image1 {
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  height: 450px;
  width: 450px;
}

.card-image2 {
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  height: 538px;
  width: 427px ;
  border-radius: 10px;
}

html {
  background-color: black;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  height: 140%;
  width: 100%;
}
.navbar-menu {
  background-color: black;
}
.navbar-item {
  background-color: black;
  font-size: 25px;
  font-family: 'Cinzel', serif;
  position: 200px;
}
.orangewrapper {
  border-radius: 5px;
  border: 5px solid #ff6600;
  padding:30px
}
hr {
  border:1px solid #ff6600;

  width: 100%;
}
.card.index {
  background:black;
}
.column.index {
    border:2px solid #ff6600;
    margin:5px;
    border-radius: 8px;
}
.title.is-1 {
  color:#ff6600;
}
.title.is-4{
  color:#ff6600;
  font-size: 18px;
}
.title.is-3{
  color:black;
}
.footer{
  height: 100px;
  width: auto;
  background-color: #161616;
  box-shadow: 100vh 110vh 0 110vh #161616;
}
.footer:before, .footer:after {
    padding: 1em;
    content: '';
}
.navbar-item{
  color:white;
}
.homeimg {
  width:140%;
  height:1080px;
  padding-top: 90px;
}
.hometitle {
  font-size: 50px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: #ff6600;
  text-align: center;
}
.hometitlesub {
  font-size: 30px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: #ff6600;
  text-align: center;
}
.card {
  background-color: #ff6600;
  color:black;
  border-radius: 10px;
  width: 300px;

}
.field.column.is-5 {
  display: inline-block;
  width: 300px;
}
.card.user {
  background-color: #ff6600;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}
.imguser {
  margin: 20px;
  border-radius: 6px;
}
.imgindex {
  border-radius: 5px;
}
p {
  color: white;
}
h4 {
  color: #ff6600;
  font-size: 30px;
  padding-bottom: 15px;
}
.imgreviewshow {
  width: 200px;
  height: 200px;
}
.notification {
  text-align: center;
  background-color: #ff6600;
  color: black;
  font-size: 18px;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  height: 60px;
}
.notification.is-info {
  background-color: #ff6600;
  color: black;
}
.subtitle.is-1 {
    font-size: 1rem;
    color:#ffe066;
    padding-right: 670px;
}
.column{
  display: inline-grid;
}
.button.is-danger{
  margin-left: 140px;
}

.title.is-3{
  text-align: center;
}
.title.is-6{
  color:black;
  font-size: 25px;
  font-family: 'Cinzel', serif;
  text-align: center;
}
label {
  color:#ff6600;
  font-weight: bold;
  font-size: 22px;
}
.button.is-danger {
  color: black;
}
small {
  color:#ffe066;
  font-weight: bold;
  font-size: 17px;
}
.orangewrapper.back {
  border-radius: 5px;
  border: 5px solid #ff6600;
  padding:30px
}
.thing {
  padding-left: 110px;
}
input.input {
  border-radius: 3px;
  border: 1px solid #ff6600;
  background-color: black;
  color:white;

}
input.textarea{
  border-radius: 3px;
  border: 1px solid #ff6600;
  background-color: black;
  color:white;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white!important;
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white!important;
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white!important;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  color: white!important;
  opacity: 1;
}
.navbar-end{
  padding-right: 520px;
}
