@import "~bulma/sass/utilities/initial-variables";

$navbar-item-img-max-height: 40;
$navbar-height: 200;

@import "~bulma";



.card-image {
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  height: 150px;
  width:150px;
}
.card-content{
  width:auto;
}

.card-image1 {
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
}
